{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Branch{% endblock %}
{% block style_links %}
<link rel="stylesheet" href="{% static 'primary_setup/brach_list.css' %}">
{% endblock %}
{% block content %}

<div>
   <h2>Edit Branch</h2>
</div>


<div id="add-branch-form" style="display: block;">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
    </form>
</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Branch Name</th>
                <th>Branch Short Name</th>
                <th>Mobile No.</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for branch in branches %}
            <tr>
                <td><a href="{% url 'branch_list_edit' pk=branch.id %}"><i class="fa-solid fa-pen"></i></a></td>
                <td>{{ branch.name }}</td>
                <td>{{ branch.branch_short_name }}</td>
                <td>{{ branch.mobile_no }}</td>
                <td>{{ branch.email }}</td>
                <td>{{ branch.telephone }}</td>
                <td>{{ branch.address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
 

{% endblock %}

{% block scripts %}

{% endblock %}
