{% extends 'base.html' %}
{% load static %}
{% block title %}CC Loan Trasactions{% endblock %}
{% block style_links %}
<link rel="stylesheet" href="{% static 'app1/dps.css' %}">
{% endblock %}
{% block content %}

<h2>CC Loan Trasactions</h2>
    
<div class="table-container">
    <table id="myTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Status</th>
                <th>Account No</th>
                <th>Customer Name</th>
                <th>Somity</th>
                <th>Loan Scheme</th>
                <th>Loan Category</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Installments</th>
                <th>Installments Amount</th>
                <th>Total Amount</th>
                <th>Paid</th>
                <th>Due</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ loan.customer.status }}</td>
                <td>{{ loan.customer.account_no }}</td>
                <td>{{ loan.customer.customer_name }}</td>
                <td>{{ loan.customer.group }}</td>
                <td>{{ loan.loan_scheme }}</td>
                <td>{{ loan.loan_category }}</td>
                <td>{{ loan.date }}</td>
                <td>{{ loan.end_date }}</td>
                <td>{{ loan.number_of_installments }}</td>
                <td>{{ loan.installment_amount }}</td>
                <td>{{ loan.total_amount }}</td>
                <td>{{ loan.paid_amount }}</td>
                <td>{{ loan.due_amount }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>SL</th>
                <th>Voucher</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Processed By</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            {% for info in loan_transactions %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ info.VoucherID }}</td>
                <td>{{ info.Date }}</td>
                <td>{{ info.Amount }}</td>
                <td>{{ info.processed_by }}</td>
                <td>{{ info.Note|default:"" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>  
</div>

{% endblock %}
    