{% extends 'base.html' %}
{% load static %}
{% block title %}Add CC Loan{% endblock %}
{% block style_links %}
<link rel="stylesheet" href="{% static 'app1/add_loan1.css' %}">
{% endblock %}

{% block content %}
<h2>Add CC Loan</h2>
<div class="div1">
    <form id="loanForm" onsubmit="redirectToLoanPage(event)">
        <div>
            <input type="text" placeholder="Account No." id="account_no" name="account_no" required> 
        </div>   
        <div>
            <button type="submit">Search</button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function redirectToLoanPage(event) {
        event.preventDefault();
        const accountNo = document.getElementById('account_no').value;
        if (accountNo) {
            window.location.href = `/loan-cc-create/${accountNo}/`;
        }
    }
</script>
{% endblock %}
