{% extends 'base.html' %}
{% load static %}
{% block title %}
Passbook
{% endblock %}
{% block style_links %}
<link rel="stylesheet" href="{% static 'otrans/styles.css' %}">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
{% endblock %}
{% block content %}

<div>
   <h2>
    Passbook
    </h2>
   <button id="add-branch-btn">Add Passbook</button>
</div>

<div id="add-branch-form">
    <div>
        <div>Passbook</div>
        <div><i class="fa-solid fa-trash"></i></div>
    </div>

    <form method="post" onsubmit="return confirmSubmit()">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>SL</th>
                <th>Date</th>
                <th>Branch</th>
                <th>Somity</th>
                <th>Account</th>
                <th>Customer Name</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Note</th>
                {% comment %} <th>Processed By</th> {% endcomment %}
                {% comment %} <th>Attachment</th> {% endcomment %}
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for info in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ info.Date }}</td>
                <td>{{ info.branch }}</td>
                <td>{{ info.customer.group }}</td>
                <td>{{ info.Account }}</td>
                <td>{{ info.customer.customer_name }}</td>
                <td>{{ info.Category }}</td>
                <td>{{ info.Amount }}</td>
                {% comment %} <td>{{ info.processed_by }}</td> {% endcomment %}
                <td>{{ info.Note }}</td>
                {% comment %} <td>
                    {% if info.attachment %}
                    <a href="{{ info.attachment.url }}">View</a>
                    {% else %}
                    No Attachment
                    {% endif %}
                </td> {% endcomment %}
                <td>
                    <a href="{% url 'passbook_print' pk=info.id %}" target="_blank" style="margin-right: 10px;"><i class="fa-solid fa-print"></i></a>
                    <a href="#" onclick="confirmDelete('{% url 'passbook_delete' pk=info.id %}'); return false;"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
 

{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addBranchButton = document.getElementById('add-branch-btn');
        const addBranchForm = document.getElementById('add-branch-form');
        const trashIcon = document.querySelector('#add-branch-form i');
    
        // Show the form when "Add Branch" button is clicked
        addBranchButton.addEventListener('click', function () {
            addBranchForm.style.display = 'block';
        });
    
        // Hide the form when the trash icon is clicked
        trashIcon.addEventListener('click', function () {
            addBranchForm.style.display = 'none';
        });
    });    
</script>
<script>
    function confirmDelete(url) {
        if (confirm('Are you sure you want to delete?')) {
            window.location.href = url;
        }
    }
</script>
<script>
    $(function() {
        var today = new Date();
        var formattedDate = $.datepicker.formatDate('yy-mm-dd', today);

        $("#id_Date").datepicker({
            dateFormat: "yy-mm-dd",
            defaultDate: today,
        }).val(formattedDate);
    });
</script>
<script>
    function confirmSubmit() {
        return confirm("Are you sure you want to submit this form?");
    }
</script>
{% endblock %}


