{% extends 'base.html' %}
{% load static %}
{% block title %}
Profit Generate Monthly
{% endblock %}
{% block style_links %}
<link rel="stylesheet" href="{% static 'otrans/styles.css' %}">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
{% endblock %}
{% block content %}

<div>
   <h2>
    Profit Generate Monthly
    </h2>
</div>

<div>
    <div>
        <h3>Search</h3>
    </div>
    <div>
        <form method="get">
            <select name="financial_year" class="form-control" required>
                <option value="July-June">July-June</option>
            </select>
        
            <select name="year" class="form-control" required>
                <option value="">Select Year</option>
                <option value="2021-2022">2021-2022</option>
                <option value="2022-2023">2022-2023</option>
                <option value="2023-2024">2023-2024</option>
                <option value="2024-2025">2024-2025</option>
            </select>
            
            <input type="text" name="profit_percentage" placeholder="Profit in Percent" required>
            
            <select name="profit_type" class="form-control" required>
                <option value="General_Account_Daily">General Account (Daily)</option>
                <option value="General_Account_Weekly">General Account (Weekly)</option>
                <option value="General_Account_Monthly">General Account (Monthly)</option>
                <option value="Share_Account">Share Account</option>
            </select>

            <input type="text" id="date" name="date" readonly>

            <button type="submit">Sheet Generate</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(function() {
        var today = new Date();
        var formattedDate = $.datepicker.formatDate('yy-mm-dd', today);

        $("#date").datepicker({
            dateFormat: "yy-mm-dd",
            defaultDate: today,
        }).val(formattedDate);
    });
</script>
{% endblock %}


