{% extends 'base.html' %}
{% load static %}
{% block title %}DPS Withdraw{% endblock %}
{% block style_links %}
<link rel="stylesheet" href="{% static 'app1/dps.css' %}">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}

    <h2>DPS Withdraw: {{ dps.transaction_id }}</h2>

    <div class="table-container">
        <table id="myTabl" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>DPS Scheme</th>
                    <th>Account No</th>
                    <th>Customer Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>profit</th>
                    <th>Installments</th>
                    <th>Installments Amount</th>
                    <th>Total Amount</th>
                    <th>Balance</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ dps.dps_scheme }}</td>
                    <td>{{ dps.customer.account_no }}</td>
                    <td>{{ dps.customer.customer_name }}</td>
                    <td>{{ dps.start_date }}</td>
                    <td>{{ dps.end_date }}</td>
                    <td>{{ dps.profit_percent }}%</td>
                    <td>{{ dps.number_of_installments }}</td>
                    <td>{{ dps.amount_per_installments }}</td>
                    <td>{{ dps.total_amount }}</td>
                    <td>{{ dps.balance }}</td>
                    <td>{{ dps.customer.status }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="div2">
        <form action="#">
            <label for="">Amount Per Installment</label>
            <input type="text" value="{{ dps.amount_per_installments }}" readonly>
            <label for="">Target</label>
            <input type="text" value="{{ dps.total_amount }}" readonly>
            <label for="">Balance</label>
            <input type="text" value="{{ dps.balance }}" readonly>
        </form>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script>
        $(function() {
            var today = new Date();
            var formattedDate = $.datepicker.formatDate('yy-mm-dd', today);
    
            $("#id_Date").datepicker({
                dateFormat: "yy-mm-dd",
                defaultDate: today,
            }).val(formattedDate);
        });
    </script>
{% endblock %}
